@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

@media (min-width: 858px) {
  html {
      font-size: 12px;
  }
}

@media (min-width: 780px) {
  html {
      font-size: 11px;
  }
}

@media (min-width: 702px) {
  html {
      font-size: 10px;
  }
}

@media (min-width: 624px) {
  html {
      font-size: 9px;
  }
}

@media (max-width: 623px) {
  html {
      font-size: 8px;
  }
}

/* flex CSS */
.wrapper{
  display: flex;
  flex-flow: column wrap;
  /*background-color: rebeccapurple;*/
  height: 100%;
  width: 100%;
  flex: 1 100%;
  padding: 30px;
  align-items: center;
}

.buttons{
  background-color: white;
  align-self: flex-end;
  padding-right: 2%;
}

.footer{
  padding: 3%;
}

.top{
  font-family: 'Gaegu', sans-serif;
  background: #b189cf;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px transparent;
  font-size: 1em;
}

.aboutContainer{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  

}

.aboutContainer .leftAbout{
  flex: 1 1 0;
  padding-left: 13%;
  padding-right: 13%;
  padding-top: 3%;
}

.aboutContainer .rightAbout{
  flex: 1.5 1 0;
}

.icons{
  padding: 3px;
  display: flex;
  flex-flow: row wrap;
  column-gap: 30px;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #b189cf;
}

/* selected link */
a:active {
  color: black;
}



/* aesthetic CSS */

#responsive{
  width: 100%;
  max-width: 620px;
  height: auto;
}

.sameLine{
  display: inline;
}

.highlight{
  background-color: #b189cf;
  padding:0.1em 0.2em;
}

.hello{
  background: linear-gradient(to right, #fa90aa 0%, #330867 100%);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  margin: 0;
}


body{
  font-family: 'Gaegu', cursive;
  font-size: 25px;
}