@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');



/* flex CSS */
.wrapper{
  display: flex;
  flex-flow: column wrap;
  /*background-color: rebeccapurple;*/
  height: 100%;

  flex: 1 100%;
  padding: 30px;
  align-items: center;
}

.buttons{
  background-color: white;
  align-self: flex-end;
  padding-right: 2%;
}

.footer{
  padding: 3%;
}

.top{
  font-family: 'Gaegu', sans-serif;
  background: #b189cf;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px transparent;
  font-size: 1em;
}

.aboutContainer{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  

}

.aboutContainer .leftAbout{
  flex: 1 1 0;
}

.aboutContainer .rightAbout{
  flex: 1.5 1 0;
}

.icons{
  padding: 3px;
  display: flex;
  flex-flow: row wrap;
  column-gap: 30px;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #b189cf;
}

/* selected link */
a:active {
  color: black;
}



/* aesthetic CSS */



#responsive{
  width: 100%;
  min-width: 425px;
  height: auto;
}

.sameLine{
  display: inline;
}

.highlight{
  background-color: #b189cf;
  padding:0.1em 0.2em;
}

.hello{
  background: linear-gradient(to right, #fa90aa 0%, #330867 100%);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  margin: 0;
}

body{
  font-family: 'Gaegu', cursive;
  font-size: 30px;
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 414px) {
  #responsive{
    min-width: 414px;
    height: auto;
  }

  h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 65px;
    margin: 0;
  }
  
  
  body{
    font-family: 'Gaegu', cursive;
    font-size: 25px;
  }
}

html, body{
  margin: 0;
  overflow-x:hidden;
}