@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

/* flex CSS */
.wrapper{
  display: flex;
  flex-flow: column wrap;
  /*background-color: rebeccapurple;*/
  height: 100%;
  flex: 1 100%;
  padding: 30px;
}

.filler{
  background-color: white;
}

.top{
  font-family: 'Gaegu', sans-serif;
  background: #b189cf;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px transparent;
  font-size: 1em;
}

.aboutContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.aboutContainer .leftAbout{
  flex: 3 1 0;
  padding: 10px;
}

.aboutContainer .rightAbout{
  flex: 1 1 0;
}

.wrapper .aboutContainer .aboutItem{
  /*background-color: black;*/
}

.icons{
  padding: 3px;
  display: flex;
  flex-flow: row wrap;
  column-gap: 30px;
}

/* unvisited link */
a:link {
  color: #b189cf;
}

/* visited link */
a:visited {
  color: #b189cf;
}

/* mouse over link */
a:hover {
  color: #b189cf;
}

/* selected link */
a:active {
  color: #b189cf;
}



/* aesthetic CSS */
.sameLine{
  display: inline;
}

.highlight{
  background-color: #b189cf;
  padding:0.1em 0.2em;
}

.hello{
  background: linear-gradient(to right, #fa90aa 0%, #330867 100%);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 85px;
  margin: 0;
}


body{
  font-family: 'Gaegu', cursive;
  font-size: 30px;
}